body {
  margin: 0;
}

table {
  table-layout: fixed;
}

td,
th {
  width: 33%;
  padding: 0.5em;
  border: 1px solid black;
}

td:nth-child(1),
th:nth-child(1) {
  width: 13%;
}

td:nth-child(2),
th:nth-child(2) {
  width: 18%;
}
