footer {
  border-top: 1.5px solid #4a4a4a;
  margin-top: 4rem;
  padding-top: 2rem;
}

footer p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

footer p + p {
  margin-top: 0.25rem;
}

footer p svg {
  margin: 0 0.3rem 0 0.5rem;
}

footer p a {
  display: inline-flex;
  align-items: center;
}

footer p a:hover {
  border: none;
}
